#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

zsh_path="/bin/zsh"

if [[ "$(uname -s)" == "Linux" ]]; then
  user_shell=$(getent passwd '{{ .chezmoi.username }}')
  user_shell=${user_shell##*/}
  if ! [[ "$user_shell" == "zsh" ]]; then
    log_task "Configuring ZSH as default shell"
    c sudo usermod --shell "${zsh_path}" '{{ .chezmoi.username }}'
  fi
else
  log_info " This is not a Linux box, so it's probably a Mac, so you're already using ZSH."
fi
