#!/bin/bash

# {{ template "scripts-library" }}

# {{- if .is_wsl -}}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

skip_if_not_linux

win_home="$(wslvar USERPROFILE)"
win_home="$(wslpath "${win_home}")"

if [[ -f "${win_home}/.ssh/id_*" ]]; then
  log_task "Syncing .ssh folder from Windows to WSL"
  mkdir -p "${HOME}/.ssh"
  cp -au ${win_home}/.ssh/id_* "${HOME}/.ssh"
  chmod 600 ${HOME}/.ssh/id_*
  chmod 644 ${HOME}/.ssh/id_*.pub
fi

# {{- end -}}
