{{- /* Check if we're in a codespace and for interactive shell */ -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "neg2led" -}}

{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "4232981+neg2led@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Run `chezmoi init --data=false` to change what you entered above. \n" -}}
{{- end -}}

# .osid will be {{ .chezmoi.os }} on systems without /etc/os-release,
# or {{ .chezmoi.os }}-{{ .chezmoi.osRelease.id }} on systems with one.
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    osid = {{ $osid | quote }}
