{{ if (eq .chezmoi.os "linux") }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
.bashrc_osh
{{   else }}
.bashrc_{{ .chezmoi.os }}
{{   end }}
{{ else }}
.bashrc_{{ .chezmoi.os }}
{{ end }}
